

body {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 20About
0px 0;
    /* width: 50%; */

    background-image: url("bg-image-studio-3.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header {
   
    text-align: center;
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 1px black;
}

fieldset {
    width: 50%;
    margin: 0 auto;
    background-color: aliceblue;
    opacity: 90%;

    font-weight: bolder;
}

button {
    margin-top: 10px;
    width: auto;
}

.flex {
    display: flex;
    flex-direction: column;

}

